.service-section{
    width: 100%;
    padding: 60px 0;
    background: linear-gradient(to bottom right, darkgray, transparent 50%, darkgray);
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
.service-title{
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    color: #3d3b3b87;
    padding-bottom: 2rem;
}
.service-section-box{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 0;
}
.service-container{
    color: rgb(119, 119, 119);
    width: 31%;
}
.service-delivary{
    width: 31%;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    background-color: rgb(233, 232, 232); 
    border-radius: 15px;
    box-shadow: 5px 5px 10px 5px rgb(0,0,8,0.4)
}


.service-secondList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:45px;
}
.service-secondList-first-box,
.service-secondList-second-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 25px;
    background-color: rgb(233, 232, 232);
    gap: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 5px rgb(0,0,8,0.4)
}
.service-payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    padding: 20px 25px;
    background-color: rgb(233, 232, 232); 
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgb(0,0,8,0.4)
}
.service-icon{
    font-size: 70px;
    color: darkturquoise;
    background-color: #fff;
    padding: 12px 0;
    border-radius: 50%;
}
/* .service-container{
    background-color: rgb(233, 232, 232);
    color: rgb(119, 119, 119);
} */


@media(max-width:992px){
    .service-section-box{
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1.5rem;
    }
    .service-container {
        width: 100%;
    }
    .service-secondList-first-box,
.service-secondList-second-box{
    justify-content: center;
    gap: 1.5rem;
}
}